<div class="container set-password-page">
  <div class="row justify-content-center">

    <div class="col-md-8 col-sm-12 text-white">

      <h1>Register</h1>
      <div class="">
        <div class="header row">
          <h3>Setp 3: Set Password</h3>
        </div>
        <div class="row textarea text-light fxHide-sm">
          <!-- <div  class="col-md-2 col-xs-12"><img 
                src="/images/icons/lighting.png" width="100%"></div> -->
          <div>Please note, this password is only for proectting wallet information in this device, it is not wallet
            private key.
          </div>
        </div>
        <div class="row words center">
          <form novalidate="" class="password-form">
            <div class="form-group"><label for="exampleInputEmail1">Wallet Name</label><input type="text"
                formcontrolname="name" id="name" aria-describedby="emailHelp"
                class="form-control transparent-input ng-untouched ng-pristine ng-invalid"
                placeholder="Type wallet name">
              <!---->
            </div>
            <div class="form-group"><label for="exampleInputPassword1">Wallet Password</label><input type="password"
                autocomplete="off" formcontrolname="password" id="password"
                class="form-control transparent-input ng-untouched ng-pristine ng-invalid"
                placeholder="Type wallet password">
              <!---->
            </div>
            <div class="form-group"><label for="exampleInputPassword1">Confirm Password</label><input type="password"
              autocomplete="off" formcontrolname="password" id="password"
              class="form-control transparent-input ng-untouched ng-pristine ng-invalid"
              placeholder="Confirm password">
            <!---->
          </div>
          </form>
        </div>
      </div>
      <br>
      <!-- <div class="justify-content-end">
        <a href='/write-phrases'> <button type="button" class="btn btn-primary">Back</button></a>
      </div> -->
      <div class="btn-group row">
        <!-- <a href='/enter-phrases'> <button type="button" class="btn btn-primary">Back</button></a> -->
        <a href='/' id="next"> <button type="button" class="btn btn-primary">Next</button></a>
      </div>
      <!-- <br />
      <hr />
      <br />
      <div><a href='/login'>Already have mnemonics? Restore</a></div> -->
    </div>

  </div>
</div>