<article class="container">
    <header>
        <h2>{{"About$.Title"| translate}}</h2>
        <p>{{"About$.Subtitle"| translate}}</p>
    </header>

    <p>
        {{"About$.P1"| translate}}
    </p>
    <p>
        {{"About$.P2"| translate}}
    </p>
    <p>
        {{"About$.P3"| translate}}
    </p>
    <p class="pt-2">
        <b>{{"About$.P4"| translate}}</b>
    </p>
    <p>
        {{"About$.P5"| translate}}
    </p>
    <p>
        <b>{{"About$.P6"| translate}}</b>
    </p>
    <p>
        {{"About$.P7"| translate}}
    </p>
    <p>
        <b>{{"About$.P8"| translate}}</b>
    </p>
    <p>
        {{"About$.P9"| translate}}
    </p>
    <p>
        <b>{{"About$.P10"| translate}}</b>
    </p>
    <p>
        {{"About$.P11"| translate}}
    </p>
    <p>
        <b>{{"About$.P12"| translate}}</b>
    </p>
    <p>
        {{"About$.P13"| translate}}
    </p>
    <p>
        {{"About$.P14"| translate}}
    </p>
</article>