<div class="container register-page">
  <div class="row justify-content-center">

    <div class="col-md-8 col-sm-12 text-white">

      <h1>Register</h1>
      <div _ngcontent-pne-c216="" class="">
        <div _ngcontent-pne-c216="" class="header">
          <h3 _ngcontent-pne-c216="">Setp 1: Backup Wallet Seed Phrases</h3>
        </div>
        <div _ngcontent-pne-c216="" class="row textarea text-light fxHide-sm">
          <!-- <div _ngcontent-pne-c216="" class="col-md-2 col-xs-12"><img _ngcontent-pne-c216=""
                src="/images/icons/lighting.png" width="100%"></div> -->
          <div _ngcontent-pne-c216="" class="col-md-12 col-xs-12"> Please accurately record and securely store the
            following twelve word mnemonic SEED, do not disclose the mnemonic SEED to anybody else. Disclosure of your
            mnemonic SEED will result in your account being compromised and you will lose all of your funds. Safely
            store your mnemonic SEED such that the loss or damage of a device does not impact your ability to access
            your mnemonic SEED. It is recommended to never send your mnemonic SEED via email or other social
            communication application. Be sure to only use your mnemonic SEED with the IDDOCK.
          </div>
        </div>
        <div _ngcontent-pne-c216="" class="row words center">
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">1.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">first</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">2.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">armed</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">3.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">diet</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">4.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">category</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">5.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">recall</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">6.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">put</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">7.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">situate</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">8.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">giggle</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">9.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">survey</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">10.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">monkey</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">11.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">fiction</code></div>
          </div>
          <div _ngcontent-pne-c216="" class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted">
            <div _ngcontent-pne-c216="" class="numbox">12.</div>
            <div _ngcontent-pne-c216="" class="word"><code _ngcontent-pne-c216="">beef</code></div>
          </div>
          <!---->
        </div>
      </div>
      <br>
      <div class="justify-content-end">
        <button type="button" class="btn btn-primary">Next</button>
      </div>
      <br />
      <hr />
      <br />
      <div><a href='/login'>Already have mnemonics? Restore</a></div>
    </div>

  </div>
</div>