<div class="update-info ">
  <!-- <div class="logo">
    <img src="/assets/img/iddock-final.png" />
  </div> -->

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-8 col-sm-12">

        <h1>ID REGISTRATION</h1>
        <!-- <form>
          <div class="input-field second-wrap">
            <div class="input-select">
              <select data-trigger="" name="choices-single" class="selectCategory">
                <option placeholder="">Select</option>
                <option>People</option>
                <option>Organization</option>
                <option>Things</option>
              </select>
            </div>
          </div>

        </form> -->
        <div class="note">Note: All Histories Are Traceable</div>
      </div>
    </div>

    <div class="container lower-form">
      <div class="row justify-content-center">

        <div class="col-md-8 col-sm-12">
          <div class="my-id">
            MY ID: 12345678XXXX
          </div>
          <div class="mb-3 row">
            <div class="col-md-3">
              Name

            </div>
            <div class="col-md-4">
              Value
            </div>
            <div class="col-md-4">

            </div>
          </div>
          <!-- <div class="input-group mb-3 row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Username">

            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Value" aria-label="Server">
            </div>
            <div class="col-md-5 select-visiable">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label" for="inlineRadio1">Public</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Encrypted</label>
              </div>


            </div>
          </div> -->

          <div class="input-group mb-3 row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Username">

            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Value" aria-label="Server">
            </div>
            <div class="col-md-5  select-visiable">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label" for="inlineRadio1">Public</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Encrypted</label>
              </div>

              <button class="btn btn-danger" type="button">DELETE</button>
            </div>

          </div>
          <div>
            <button type="button" class="btn btn-primary update-btn">UPDATE NAME & VALUE</button>
          </div>
        </div>


      </div>
    </div>

  </div>