<div class="container register-page">
    <div class="row justify-content-center">

        <div class="col-md-8 col-sm-12 text-white">

            <h1>{{"Create New Identity"| translate}}</h1>
            <div class="">
                <div class="header">
                    <h3>{{"Step1"|translate}}</h3>
                </div>
                <div class="row textarea text-light fxHide-sm">
                    <!-- <div  class="col-md-2 col-xs-12"><img 
                src="/images/icons/lighting.png" width="100%"></div> -->
                    <div class="col-md-12 col-xs-12"> {{"Step1Note"| translate}}
                    </div>
                </div>
                <div class="row words center">
                    <div class="wordbox col-lg-3 col-md-4 col-sm-4 col-6 text-center ng-star-inserted" *ngFor="let word of mnemonics; let i = index">
                        <div class="numbox">{{index}}.</div>
                        <div class="word"><code>{{word}}</code></div>
                    </div>

                    <!---->
                </div>
            </div>
            <br>
            <div class="btn-group">
                <a href='/enter-phrases' id="next"> <button type="button" class="btn btn-primary">{{"Next"| translate}}</button></a>
            </div>
            <br />
            <hr />
            <br />
            <div><a href='/login'>{{"Already have mnemonics? Restore"| translate}}</a></div>
        </div>

    </div>
</div>