.add-info{
    margin-top: 100px;
}


h1{
    color:#333;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

label{
    color: #333;
}

.input-select{
    text-align: center;
    margin-top: 50px;
}

.selectCategory {
    width: 100%;
    // max-width: 400px;
    height: 100%;
    border: 1px solid #e5e5e5;
    // border-right: 0;
    padding: 10px 32px;
    font-size: 16px;
    color: #333;
    font-family: "Poppins", sans-serif;
    min-height: 44px;
    overflow: hidden;
}

.lower-form{
    padding-top: 40px;
}

.select-visiable{
    text-align: left;
}

.add-btn{
    margin-top: 30px;
}